* {
  box-sizing: border-box;
}
.content {
  margin: 2% 10% 0% 10%;
}
/*База*/
.need-to-log-reg {
  border: 1px solid #c2c4c9;
  border-radius: 15px;
  text-align: center;
  padding: 30px;
  width: 800px;
  margin: 0 auto;
  margin-top: 200px;
}

.need-to-log-reg a {
  cursor: pointer;
  text-decoration: none;
  font-size: 32px;
}
.transfer-request {
  word-wrap: break-word;
}
.text-limit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.headline-limit {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn-reg {
  height: 40px;
  width: 110px;
  border: none;
  border-radius: 5px;
  background-color: #0d6efd;
  color: white;
  font-size: 16px;
  display: block;
  margin: 30px auto;
}
.btn-reg:hover {
  height: 40px;
  width: 110px;
  border: none;
  border-radius: 5px;
  background-color: #0859d3;
  color: #e2dfdf;
  font-size: 16px;
  display: block;
  margin: 30px auto;
}
/*Страница регистрации*/
.form-reg {
  height: 400px;
}
.form-reg p label {
  display: block;
  font-size: 18px;
  font-weight: 1000px;
}
.form-reg p input {
  font-size: 18px;
  padding: 10px;
  display: block;
  border-radius: 15px;
  border: 1.5px solid #c2c4c9;
  background-color: #f2f2f2;
  width: 100%;
  margin: 10px 0 0 0;
  height: 45px;
  box-sizing: border-box;
  outline: none;
}
/*Страница авторизации*/
.form-log {
  height: 250px;
}
.form-log p label {
  display: block;
  font-size: 18px;
}
.form-log p input {
  font-size: 18px;
  padding: 10px;
  display: block;
  border-radius: 15px;
  border: 1.5px solid #c2c4c9;
  background-color: #f2f2f2;
  width: 100%;
  margin: 10px 0 0 0;
  height: 45px;
  box-sizing: border-box;
  outline: none;
}
.btn-log {
  height: 40px;
  width: 110px;
  border: none;
  border-radius: 5px;
  background-color: #0d6efd;
  color: white;
  font-size: 16px;
  display: block;
  float: right;
}
.btn-log:hover {
  height: 40px;
  width: 110px;
  border: none;
  border-radius: 5px;
  background-color: #0859d3;
  color: #e2dfdf;
  font-size: 16px;
  display: block;
  float: right;
}
.lost-password {
  text-decoration: none;
  color: rgb(0, 102, 239);
}
.message-log {
  display: inline-block;
  width: 100%;
  margin-top: 5px;
  text-align: center;
}
/*Общее у страницы авторизации и регистрации*/
.headline-reg-log {
  margin-bottom: 15px;
  font-size: 25px;
  padding-bottom: px;
  text-align: center;
  margin-top: -70px;
}
.registration-login {
  width: 600px;
  margin: 0 auto;
  border: 1px solid #c2c4c9;
  padding: 150px 70px;
  border-radius: 10px;
}
.btn-reg-log {
  height: 40px;
  width: 110px;
  border: none;
  border-radius: 5px;
  background-color: #0d6efd;
  color: white;
  font-size: 16px;
  display: block;
  margin: 30px auto;
}
.btn-reg-log:hover {
  height: 40px;
  width: 110px;
  border: none;
  border-radius: 5px;
  background-color: #0859d3;
  color: #e2dfdf;
  font-size: 16px;
  display: block;
  margin: 30px auto;
}
/*List_trackers*/
.form-wrapper {
  width: 700px;
  margin: 0 auto 20px auto;
}
.search-bar {
  width: 100%;
  max-width: 700px;
  background-color: #6c757d;
  border-radius: 60px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
}
.search-bar input {
  -webkit-appearance: none;
  background-color: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 18px 20px;
  font-size: 20px;
  color: white;
}
.search-bar input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #6c757d inset;
  -webkit-text-fill-color: #fff;
  font-size: 20px !important;
}
::placeholder {
  color: white;
}
.search-bar button img {
  width: 25px;
}
.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: white;
}
.search-bar button:hover {
  border: 0;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: #e6e6e6;
}
