{% extends 'base.html'%} {% block content %}
<div id="searchBar" class="form-wrapper">
  <form method="get" class="search-bar">
    <input type="text" name="search" placeholder="Search" />
    <button type="submit"><img src="../static/search.png" alt="" /></button>
  </form>
</div>
<div class="alert-position" id="search-alert">{% if trackers_parsers %}</div>
<div class="container" id="list_trackers">
  <!-- Начало цикла для всех трекеров -->
  {% for tracker_parser in trackers_parsers %}
  <div class="row bg-secondary rounded mb-3 py-3 grey-box">
    <!-- Текст поиска слева -->
    <div class="col-sm-2">
      <h3
        class="position-relative top-50 start-50 translate-middle text-center text-light text-limit"
      >
        {{ tracker_parser[0].search_text }}
      </h3>
    </div>

    <!-- 3 навыка и их количество появлений -->
    <div class="col-sm-6">
      <ul class="list-group list-group-flush text-center" id="job_trackers">
        {% if tracker_parser[1] %} {% for skill in tracker_parser[2] %}

        <li class="bg-secondary list-group-item text-light">
          {{ skill.name }} - {{ skill.amount }}
        </li>
        {% endfor %} {% else %}
        <li class="bg-secondary list-group-item text-light">
          Data is still uploading
        </li>
        <li class="bg-secondary list-group-item text-light">Please wait</li>
        <li class="bg-secondary list-group-item text-light">...</li>
        {% endif %}
      </ul>
    </div>

    <!-- правая часть квадрата. Количество парсеров и шестеренка -->
    <div class="col-sm-2">
      <h5
        class="position-relative top-50 start-50 translate-middle text-center text-light"
      >
        {% if tracker_parser[1] %} Vacancies amount
        <br />{{tracker_parser[1].amount_of_vacancies}} {% else %}
        <img
          style="width: 50px; height: 50px"
          src="{{ static('loading.gif') }}"
        />
        {% endif %}
      </h5>
    </div>
    <div class="col-sm-2">
      <button style="border-radius: 10px" type="button" data-bs-toggle="modal" data-bs-target="#TrackerModal{{ tracker_parser[0].id}}" id="modalBtn{{tracker_parser[0].id }}" onclick="load_parser_data({{ tracker_parser[0].id }})" class="position-relative top-50 start-50 translate-middle"
      >
        <img id="settingsImg{{ tracker_parser[0].id }}" style="width: 60px; height: 60px" src="{{ static('settings.png') }}" alt="settings"
        />
      </button>
    </div>
  </div>
  {% endfor %}

  <!-- если результата нет-->
  {% else %}
  <div class="alert alert-warning" role="alert">
    <p style="margin-bottom: 0">Nothing was found</p>
  </div>
  {% endif %}

  <!-- модалка каждого трекера -->
  {% for tracker_parser in trackers_parsers %}
  <div
    class="modal fade"
    id="TrackerModal{{ tracker_parser[0].id }}"
    tabindex="-1"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title headline-limit">
            <a href="{{ tracker_parser[0].hh_url }}"
              >{{ tracker_parser[0].search_text }}</a
            >
          </h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <h3 class="transfer-request">
              Текст запроса - {{tracker_parser[0].search_text}}
            </h3>
          </div>
          {% if tracker_parser[0].exclude_from_search %}
          <div class="mb-3">
            <h4>
              Исключено из запроса - {{ tracker_parser[0].exclude_from_search }}
            </h4>
          </div>
          {% endif %}
          <div class="mb-3">
          {% for area in tracker_parser[3] %}
            <p>{{ area.name }}</p>
          {% endfor %}
          </div>
          {% if request.user.id == tracker_parser[0].user_creator_id %}
          {% elif request.user.id in tracker_parser[0].subscribers %}
          <button type="button" onclick="unsubscribe_from_tracker({{tracker_parser[0].id}});" id="sub_button{{tracker_parser[0].id}}" style="" class="btn btn-danger" 
          >
            unsubscribe
          </button>

          {% else %}
          <button type="button" onclick="subscribe_on_tracker({{tracker_parser[0].id}});" id="sub_button{{tracker_parser[0].id}}" style="" class="btn btn-info" 
          >
            subscribe
          </button>
          {% endif %}
          <br />
          <br />
          <div id="tracker_stats{{ tracker_parser[0].id }}"></div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <script>
    page = 0
      window.onscroll = function(){loadTrackers();};
        loadTrackers();
        function loadTrackers() {

          var d = document.documentElement;
          var offset = d.scrollTop + window.innerHeight;
          var height = d.offsetHeight;

          if (offset >= height) {
            page++;
            $.ajax({
                url: '/list_more_trackers/'+'?page='+page{% if request.GET['search'] %}+'&?search='+{{ request.GET['search'] }} {% endif %},
                method: 'get',
                dataType: 'html',
                success: function(data){
                data = JSON.parse(data);
                container_to_append = document.getElementById('list_trackers')
                data.forEach(array => {
                    tracker = JSON.parse(array[0])[0]['fields'];
                    parser = JSON.parse(array[1])[0]['fields'];
                    skills = JSON.parse(array[2]);
                    areas_fields = JSON.parse(array[3]);
                    areas = [];
                    areas_fields.forEach(area => {
                      areas.push(area['fields']['name']);
                    });
                    console.log(areas,tracker);
                    tracker_id = JSON.parse(array[0])[0]['pk'];

                    if(skills[0]){

                    html_skills_part = `
                    <div class="col-sm-6">
                    <ul class="list-group list-group-flush text-center" id="job_trackers">
                                <li class="bg-secondary list-group-item text-light">${skills[0]['fields']['name']} - ${skills[0]['fields']['amount']}</li>
                                <li class="bg-secondary list-group-item text-light">${skills[1]['fields']['name']} - ${skills[1]['fields']['amount']}</li>
                                <li class="bg-secondary list-group-item text-light">${skills[2]['fields']['name']} - ${skills[2]['fields']['amount']}</li>
                            </ul>
                     </div>
                    `;}
                    else{
                    html_skills_part = `<div class="col-sm-6"></div>`;
                    };
                    html_to_insert = `
                    <div class="row bg-secondary rounded mb-3 py-3 grey-box">
                        <!-- Текст поиска слева -->
                        <div class="col-sm-2">
                            <h2 class="position-relative top-50 start-50 translate-middle text-center text-light text-limit">${tracker['search_text']}</h2>
                        </div>
                        <!-- 3 навыка и их количество появлений -->
                        ` + html_skills_part + `
                        <!-- правая часть квадрата. Количество парсеров и шестеренка -->
                        <div class="col-sm-2">
                            <h5 class="position-relative top-50 start-50 translate-middle text-center text-light">
                                    Vacancies amount <br>${parser['amount_of_vacancies']}
                            </h5>
                        </div>
                        <div class="col-sm-2">
                            <button style="border-radius: 10px" type="button" data-bs-toggle="modal" data-bs-target="#TrackerModal${tracker_id}" id="modalBtn${tracker_id}" onclick="load_parser_data(${tracker_id})" class="position-relative top-50 start-50 translate-middle">
                                <img id="settingsImg${tracker_id}" style="width:60px;height:60px;" src="/static/settings.png">
                            </button>
                        </div>
                    </div>
                    `;
                    container_to_append.innerHTML += html_to_insert;




                    // модалка трекера
                    modal_exclude_from_search_part = ``;
                    if(tracker['exclude_from_search']){
                        modal_exclude_from_search_part = `
                            <div class="mb-3">
                                <h4>Исключено из запроса - ${tracker['exclude_from_search']}</h4>
                            </div>
                        `;
                    };

                    if(tracker['user_creator'] == {{request.user.id}}){
                      modal_subscribe_part = '';
                    }
                    else {
                      if(tracker['subscribers'].includes({{request.user.id}})){
                        modal_subscribe_part = `
                          <button type="button" onclick="unsubscribe_from_tracker(`+ tracker_id +`);" id="sub_button` + tracker_id + `" style="" class="btn btn-danger">unsubscribe</button>
                        `;
                      }
                      else {
                        modal_subscribe_part = `
                          <button type="button" onclick="subscribe_on_tracker(`+ tracker_id +`);" id="sub_button` + tracker_id + `" style="" class="btn btn-info">subscribe</button>
                        `;
                      }
                    }

                    modal_to_insert = `
                    <div class="modal fade" id="TrackerModal${tracker_id}" tabindex="-1"  aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title"><a href="${tracker['hh_url']}">${tracker['search_text']}</a></h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                    <div class="mb-3">
                                        <h3>Текст запроса - ${tracker['search_text']}</h3>
                                    </div>
                                    ` + modal_exclude_from_search_part + `<br>
                                    ` + areas.toString() + `<br>
                                    ` + modal_subscribe_part + `
                                      <br>
                                      <br>
                                    <div id="tracker_stats${tracker_id}">
                                    <div id="chart${tracker_id}"
                                    </div>
                              </div>
                        </div>
                      </div>
                    </div>
                    `;

                    container_to_append.innerHTML += modal_to_insert;

                    load_tracker_chart(tracker_id);
                    });
                }
            });
          }
        };
  </script>
</div>


<script>
  function load_tracker_chart(tracker_id) {
    $.ajax({
        url: "/api/job_trackers/" + tracker_id + "/?format=json&for_chart=1" ,
        method: "get",
        dataType: "html",
        success: function (data) {
          data = JSON.parse(data);
          if(data['chart_data'].length < 2){

          }
          else {
          chart_amount_of_vacancies = [];
          chart_dates = [];
          for(i in data['chart_data']){
            chart_data = data['chart_data'][i]
            console.log(chart_data);
            chart_dates.push(chart_data['date']);
            chart_amount_of_vacancies.push(chart_data['amount_of_vacancies']);
          }
          console.log([chart_amount_of_vacancies, chart_dates])
          var options = {
          series: [{
            name: "amount",
            data: chart_amount_of_vacancies.reverse()
        }],
          chart: {
          height: 350,
          type: 'line',
          zoom: {
            enabled: false
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'straight'
        },
        title: {
          text: 'amount of vacancies',
          align: 'left'
        },
        grid: {
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        xaxis: {
          categories: chart_dates.reverse(),
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart"+tracker_id), options);
        chart.render();
        }
          }
      });
  }
</script>


<script>
  function load_parser_data(tracker_id) {
    $.ajax({
      url: "/load_parser_data/?tracker_id=" + tracker_id,
      method: "get",
      dataType: "html",
      success: function (data) {
        data = JSON.parse(data);
        div_to_append = document.getElementById("tracker_stats" + tracker_id);
        data.forEach((skill) => {
          let p = document.createElement("p");
          p.innerHTML = skill["name"] + ": " + skill["amount"];
          div_to_append.append(p);
        });
        btn_call = document.getElementById("modalBtn" + tracker_id).onclick =
          "";
      },
    });
  }
</script>

<script>
  function subscribe_on_tracker(tracker_id) {
    sub_button = document.getElementById("sub_button" + tracker_id);
    sub_button.disabled = true;
    $.ajax({
      url: "/subscribe_on_tracker/",
      method: "post",
      dataType: "html",
      data: { tracker_id: tracker_id, csrfmiddlewaretoken: "{{ csrf_token }}" },
      success: function (data) {
        sub_button.outerHTML =
          '<button type="button" onclick="unsubscribe_from_tracker(' +
          tracker_id +
          ');" id="sub_button' +
          tracker_id +
          '" style="" class="btn btn-danger">unsubscribe</button>';
      },
    });
  }

  function unsubscribe_from_tracker(tracker_id) {
    sub_button = document.getElementById("sub_button" + tracker_id);
    sub_button.disabled = true;
    $.ajax({
      url: "/unsubscribe_from_tracker/",
      method: "post",
      dataType: "html",
      data: { tracker_id: tracker_id, csrfmiddlewaretoken: "{{ csrf_token }}" },
      success: function (data) {
        sub_button.outerHTML =
          '<button type="button" onclick="subscribe_on_tracker(' +
          tracker_id +
          ');" id="sub_button' +
          tracker_id +
          '" style="" class="btn btn-info">subscribe</button>';
      },
    });
  }
</script>
<script>
  searchBar = document.getElementById('searchBar');
  hidden_search_bar = document.getElementById('hidden_search_bar');
  hidden_search_bar.innerHTML += searchBar.innerHTML;
  searchBar.remove()
  </script>
<script>
  $(function () {
    $("#search-alert").delay(3000).slideUp(200);
  });
</script>
{% endblock %}
